.container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.pills {
    margin-left: 0;
    list-style: none;
    counter-reset: li;
    font-family: calibri;
   
}

.pills li {
    padding: 10px 0;
    position: relative;
    margin-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 7px;
    background: #ffded1;
}

.pills li:before {
    padding: 10px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1.5em;
    width: 1.875em;
    text-align: center;
    color: white;
    font-weight: bold;
    background: #ffa650;
    border-bottom-left-radius: 70em;
    border-top-left-radius: 70em;
    counter-increment: li;
    content: counter(li);
}


h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #707981;
    text-align: center;
}

li {
    display: flex;
    justify-content: space-between;
    }


        .table_price {
            border-collapse: collapse;
            border-left: 3px solid #F79361;
            border-right: 3px solid #F79361;
            border-bottom: 3px solid #F79361;
            font-family: "Lucida Grande", sans-serif;
        }
    
        .table_price caption {
            background: #F79361;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 10px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .3);
            color: white;
            font-family: "Roboto Slab", serif;
            font-style: normal;
            font-size: 26px;
            text-align: center;
            margin: 0;
        }
    
        .table_price td,
        .table_price th {
            padding: 10px;
        }
    
        .table_price th {
            text-align: left;
            font-size: 18px;
        }
    
        .table_price tr:nth-child(2n) {
            background: #E5E5E5;
        }
    
        .table_price td:last-of-type {
            text-align: center;
        }
    
        .table_price button {
            display: inline-block;
            padding: 5px 10px;
            background: #F79361;
            box-shadow: 2px 2px 0 0 #a22800;
            position: relative;
        }
    
        .table_price button:hover {
            box-shadow: none;
            top: 2px;
            left: 2px;
        }

                /* phone start */
                .phone__item {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 900;
                    color: #fff;
                    text-decoration: none;
                    display: inline-block;
                    border: 3px solid #fff;
                    padding: 8px 16px;
                    border-radius: 21.5px;
                    transition: color .2s, background .2s, opacity .2s;
                }
        
                .phone__item:hover {
                    color: #1f1f1f;
                    background: #fff;
                }
        
                .phone__item:active {
                    opacity: 0.8;
                }

                form {
                    align-self: flex-end;
                }
        
                /* phone end */